:root {
    --primary-color: #2196F3;
    --secondary-color: #C0E0F1;
    --background-color: #F0F2F5;
    --white-color: #FFFFFF;
    --text-color: #333;
    --shadow-color: #B8C3D3;
}

@font-face {
    font-family: "ZCOOLKuaile";
    src: url("fonts/站酷仓耳渔阳体 W05.TTF") format("truetype");
}

@font-face {
    font-family: "YSHAOSHENTI";
    src: url("fonts/优设好身体.TTF") format("truetype");
}

body {
    font-family: 'YSHAOSHENTI', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--white-color);
    color: var(--text-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px var(--shadow-color);
    border-radius: 8px;
}

.logo {
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

main img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px var(--shadow-color);
}

section {
    background-color: var(--white-color);
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow-color);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.project-box {
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow-color);
    padding: 1rem;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.project-box:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 4px 8px var(--shadow-color);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0.5rem 0 0.25rem 0;
}

form input, form textarea {
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    margin-bottom: 1rem;
    background-color: var(--white-color);
}

form button {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

footer {
    background-color: var(--white-color);
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow-color);
}
